@model VC.Public.Models.Affiliate.AffiliateManageModel

@section Meta {
	<title>Vital Choice | Manage Affiliate Profile</title>
}

@section PageScripts {
	<script src="@Url.Content("/app/common/dataAccess.js")"></script>
	<script src="@Url.Content("/app/modules/auth/registration.js")"></script>
    <script src="@Url.Content("/app/modules/affiliateaccount/register.js")"></script>
}

<script>
	successMessage = '@ViewBag.SuccessMessage';
</script>

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("AffiliateProfileSidebar")
	</div>
	<div class="right-pane clean-indent">
	@using (Html.BeginForm("ChangeProfile", "AffiliateProfile", null, FormMethod.Post, null, new { @class = "form-regular medium-small border-form-left", role = "form" }))
    {
        <h4>Manage Affiliate Profile</h4>
        await Html.RenderPartialAsync("~/Views/AffiliateAccount/_AffiliateManage.cshtml", Model);

		<div class="form-buttons-group">
			<input data-back-button="@Url.Action("Index","AffiliateProfile")" type="button" value="Back" />
			<input class="yellow" type="submit" value="Update" />
		</div>
    }
	</div>
</div>