@using System.Globalization;
@model  VC.Public.Models.Affiliate.OrderPaymentsModel

@section Meta {
    <title>Vital Choice | All Time Orders</title>
}

<div class="working-area-holder">
    <div class="left-pane clean-border">
        @await Component.InvokeAsync("AffiliateProfileSidebar")
    </div>
    <div class="right-pane clean-indent paid-orders">
        <div class="border-form-left">
            <h4>All Time Orders</h4>
            @using (Html.BeginForm("PaidOrders", "AffiliateProfile", null, FormMethod.Get, null, new { @class = "form-regular", role = "form" }))
            {
                <div class="filter-row">
                    <div class="form-group">
                        <label class="control-label" for="From">From</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.From, new { @class = "form-control date-picker" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="To">To</label>
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.To, new { @class = "form-control date-picker" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="yellow" type="submit" value="Search">
                        </div>
                    </div>
                </div>
            }
            <span><span class="note">*</span> = new customer order</span>
            <table class="standard-table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Order Number
                        </th>
                        <th class="align-right">
                            Discounted Subtotal
                        </th>
                        <th class="align-right">
                            Commission
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Any())
                    {
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.DateCreated.ToString("MM/yyyy")</td>
                                <td>
                                    @item.IdOrder
                                    @if (item.NewCustomerOrder)
                                    {
                                        <span class="note">*</span>
                                    }
                                </td>
                                <td class="align-right">@item.DiscountedProductsSubtotal.ToString("C2")</td>
                                <td class="align-right">@item.Commission.ToString("C2")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div>
                <cs-pager cs-paging-info="@Model.Paging"
                          cs-pagenumber-param="page"
                          asp-controller="AffiliateProfile"
                          asp-action="PaidOrders"
                          asp-route-from="@(Model.From.HasValue ? Model.From.Value.ToString("MM/dd/yyyy",CultureInfo.InvariantCulture) : String.Empty)"
                          asp-route-to="@(Model.To.HasValue ? Model.To.Value.ToString("MM/dd/yyyy",CultureInfo.InvariantCulture) : String.Empty)"></cs-pager>
            </div>
        </div>
    </div>
</div>