@using VC.Public.Models
@model VitalGreenStep2Model


@Html.ValidationSummary(true, "")
@if (Model != null)
{
    <h4>
        Vital Green Step #2:<br />
        Get FedEx Center Addresses and Your Foam-Recycling Center Shipping Label
    </h4>
    <div class="form-regular">
        <span class="form-control-hint">
            A FedEx shipping label has been created for your foam shipping cube. To view and
            print it, please click <a href="@Model.Url" target="_blank">HERE</a>
            <br />
            Affix the label to your clean foam shipping cube and drop the cube off at the FedEx
            center nearest you.
            <br />
            Below is a list of FedEx drop-off centers near you, from which your foam shipping
            cube will be sent to the nearest recycling center, at no charge.
            <br />
            We suggest that you copy the address of the nearest center, or print this page for
            future reference.
            <br />
            <br />
        </span>
    </div>
    <div class="items">
        @for (int i = 0; i < Model.Locations.Count; i++)
        {
            <div class="item">
                <strong>@Model.Locations[i].BusinessName</strong><br />
                <span><em>@Model.Locations[i].Distance</em></span><br />
                <span>@Model.Locations[i].FedExAddress</span><br />
                <span>@Model.Locations[i].City, @Model.Locations[i].FedExState @Model.Locations[i].FedExZip</span><br />
                <b>Hours:</b><br />
                <div class="hours">
                    <span>Weekdays: @Model.Locations[i].Weekdays</span><br />
                    <span>Saturdays: @Model.Locations[i].Saturdays</span><br />
                </div>
            </div>
            @if (i % 2 == 1)
            {
                <div class="clear"></div>
            }
        }
    </div>
}