@using VC.Public.Models
@model VitalGreenStep2Model


@Html.ValidationSummary(true, "")
@if (Model != null)
{
    <a id="linksource" class="hide" href="@Model.Url"></a>
    @for (int i = 0; i < Model.Locations.Count; i++)
    {
        <div class="item">
            <strong>@Model.Locations[i].BusinessName</strong><br />
            <span><em>@Model.Locations[i].Distance</em></span><br />
            <span>@Model.Locations[i].FedExAddress</span><br />
            <span>@Model.Locations[i].City, @Model.Locations[i].FedExState @Model.Locations[i].FedExZip</span><br />
            <b>Hours:</b><br />
            <div class="hours">
                <span>Weekdays: @Model.Locations[i].Weekdays</span><br />
                <span>Saturdays: @Model.Locations[i].Saturdays</span><br />
            </div>
        </div>
            @if (i % 2 == 1)
            {
                <div class="clear"></div>
            }
    }
}