@model FedExZone

@section Meta {
    <title>Vital Choice | VitalGreen - Ship To</title>
}

@section PageScripts {
}

<div class="working-area-holder vitalgreen">
    <div class="header">
        <img src="/Assets/images/VitalGreen_350x72.jpg" alt="Vital Green">
    </div>
    @Html.ValidationSummary(true, "")
    @if (Model != null)
    {
        <h4>The facility you should ship to is:</h4>
        <div class="zone-description">
            <strong>@Model.Company</strong><br />
            <span>@Model.Address</span><br />
            <span>@Model.City, @Model.State @Model.Zip</span><br />
            <span id="phone" runat="server">Phone: @Model.Phone</span><br />
            @Html.ActionLink("Click to create a shipping label", "Step2", new { zoneid = Model.Id })
        </div>
    }
    <div class="form-group">
        <hr />
    </div>
</div>