@using System.Threading.Tasks
@using VitalChoice.SharedWeb.Models.Orders
@model VitalChoice.Ecommerce.Domain.Transfer.PagedListEx<AutoShipHistoryItemModel>
@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@inject IOptions<AppOptions> appOptions

@section Meta {
	<title>Vital Choice | Auto-Ship Settings</title>
}

@section PageScripts {
	<script src="@Url.Content("/app/modules/profile/autoship.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/common/dataAccess.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/modules/auth/registration.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/common/billing.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/modules/profile/billingInfoRefresh.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
}

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane clean-indent">
		<div class="border-form-left relative">
			<div class="overlay hide">
				<div class="loading">Loading…</div>
			</div>
			<h4>Auto-Ship Settings</h4>
			<div id="gridcontainer">@Html.Partial("_AutoShipHistoryGrid", Model)</div>
		</div>
	</div>
</div>