@model VC.Public.Models.Profile.ChangePasswordModel
@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@inject IOptions<AppOptions> appOptions

@section Meta {
	<title>Vital Choice | Change Password</title>
}

@section PageScripts {
    <script src="@Url.Content("/app/modules/profile/gccheckform.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
}

<script>
	successMessage = '@ViewBag.SuccessMessage';
</script>

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane clean-indent">
		@using (Html.BeginForm("ChangePassword", "Profile", null, FormMethod.Post, null, new { @class = "form-regular medium-small border-form-left", role = "form" }))
		{
			@Html.AntiForgeryToken()
			<h4>Change Password</h4>
			<span class="form-control-important-info">Must be at least 8 characters long, contain at least 1 numerical digit, 1 capital character, 1 lowercase character and 1 special character.<br />Example: Dontuse!#1</span>
			@Html.ValidationSummary(true, "")
			<div class="form-group">
				@Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
				<div class="input-group">
					@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.OldPassword, "")
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password, new { @class = "control-label" })
				<div class="input-group">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password, "")
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
				<div class="input-group">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "")
				</div>
			</div>
			<div class="form-buttons-group">
				<input data-back-button="@Url.Action("TopFavoriteItems","Profile")" type="button" value="Back"/>
				<input class="yellow" type="submit" value="Update"/>
			</div>
		}
	</div>
</div>