@model IList<VC.Public.Models.Profile.LastOrderLineModel>

@section Meta {
	<title>Vital Choice | Most Recent Order</title>
}

@section PageScripts {
    <script src="@Url.Content("/app/modules/profile/gccheckform.js")"></script>
}

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane clean-indent">
		<div class="border-form-left">
			<h4>Items On Your Last Order</h4>
			@if (Model.Any())
			{
				<table class="last-order-lines">
					<thead>
					<tr>
						<th>
							QTY Ordered
						</th>
						<th></th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td class="qty-cell">@item.Quantity</td>
							<td class="icon-container">
								<a href="@item.ProductUrl">
									<img class="product-icon" title="@item.ProductName" src="@item.IconLink	"/>
								</a>
							</td>
							<td>
								<a href="@item.ProductUrl">
									<span class="product-title">
											@($"{item.ProductName} ({item.PortionsCount})")
										</span>
								</a>
								<span class="sku-code">Product #@item.SkuCode</span>
								<span class="selected-price">Selected Price @item.SelectedPrice</span>
								<a href="#">
									<img src="/assets/images/addtocartorange.jpg"/>
								</a>
								<a class="review-product-link" href="@item.ProductUrl">
									Review this product
								</a>
							</td>
						</tr>
					}
					</tbody>
				</table>
			}
		</div>
		</div>
</div>