@model IList<VC.Public.Models.Profile.FavoriteModel>

@section Meta {
	<title>Vital Choice | Top Favorite Items</title>
}

<div class="working-area-holder">
	<div class="left-pane">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane">
		<h4>Top Favorite Items</h4>
		<section class="top-favorites">
			<div class="top-favorites-selection-container">
				@foreach (var item in Model)
				{
					{
						<a href="@item.Url" title="@item.ProductName">
							<img src="@item.ProductThumbnail" alt="@item.ProductName">@item.ProductName
						</a>
					}
				}
			</div>
		</section>
		@Html.ActionLink("View All Purchases", "TopFavoriteItems", new { all = true}, new { @class = "centered-horizontal bold margin-top-medium margin-bottom-medium" })
	</div>
</div>