@model IList<VC.Public.Models.Profile.FavoriteModel>

@section Meta {
	<title>Vital Choice | Top Favorite Items</title>
}

@section PageScripts {
    <script src="@Url.Content("/app/modules/profile/gccheckform.js")"></script>
}

<div class="working-area-holder">
	<div class="left-pane clean-border">
		@await Component.InvokeAsync("ProfileSidebar")
	</div>
	<div class="right-pane clean-indent">
		<div class="border-form-left">
		<h4>Top Favorite Items</h4>
			<section class="top-favorites">
				<div class="top-favorites-selection-container">
					@foreach (var item in Model)
					{
						{
							<a href="@item.Url" title="@item.ProductName">
								<img src="@item.ProductThumbnail" alt="@item.ProductName">
                                @item.ProductName<br/>
                                @item.ProductSubTitle
							</a>
						}
					}
				</div>
			</section>
			@if (ViewBag.MoreExist)
			{
				@Html.ActionLink("View All Purchases", "TopFavoriteItems", new { all = true }, new { @class = "button yellow favorites-centered-button margin-top-medium" })
			}
		</div>
	</div>
</div>