@using System.Threading.Tasks
@using VC.Public.Helpers
@using VitalChoice.Ecommerce.Domain.Entities.Addresses
@model VC.Public.Models.Checkout.AddPaymentMethodModel

@section Meta {
	<title>Wild Seafood & Organics - Vital Choice</title>
}

@{
	Layout = "~/Views/Shared/_ViewCartLayout.cshtml";
}

@section PageScripts {
	<script src="@Url.Content("/app/modules/checkout/checkoutMain.js")"></script>
	<script src="@Url.Content("/app/common/dataAccess.js")"></script>
	<script src="@Url.Content("/app/modules/checkout/paymentMethod.js")"></script>
}

<script>
	successMessage = '@ViewBag.SuccessMessage';
</script>

<div class="checkout-step-container working-area-holder">
	<img src="/assets/images/checkout/step4.gif"/>
	<h4 class="checkout-step-heading">4. Payment Information</h4>
	<span class="checkout-notification-important">Shopping online with Vital Choice is extremely safe. All information is encrypted.</span>
	<span class="shopping-notice-note">NOTE:</span> You will be able to review your order on the next page (#5, Review) before paying.
	@using (Html.BeginForm("AddPaymentMethod", "Checkout", null, FormMethod.Post, new {@class = "form-regular medium-small checkout-columns-container", role = "form"}))
	{
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "")
		<div class="form-group">
			<label class="control-label control-label-big">Pay with Credit Card</label>
			<div class="input-group">
				<img src="/Assets/images/checkout/ccicons.jpg"/>
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.NameOnCard, new { @class = "control-label" })
			<div class="input-group">
				@Html.TextBoxFor(m => m.NameOnCard, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.NameOnCard)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.CardType, new {@class = "control-label" })
			<div class="input-group">
				@Html.DropDownListFor(m => m.CardType, new List<SelectListItem>(), new {@class = "form-control", @id = "ddCardType"})
				@Html.ValidationMessageFor(m => m.CardType)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.CardNumber, new {@class = "control-label"})
			<div class="input-group">
				@Html.TextBoxFor(m => m.CardNumber, new {@class = "form-control", maxlength = "16"})
				@Html.ValidationMessageFor(m => m.CardNumber)
			</div>
		</div>
		<div class="form-group form-control-container">
			@Html.Label("ExpirationDate", "Expiration Date", new {@class = "control-label"})
			<div class="input-group">
				@Html.TextBoxFor(m => m.ExpirationDateMonth, new {@class = "form-control small-form-control", maxlength = "2"})
				<span>/</span>
				@Html.TextBoxFor(m => m.ExpirationDateYear, new {@class = "form-control small-form-control", maxlength = "2"})
				@Html.ValidationMessageFor(m => m.ExpirationDateMonth)
				@Html.ValidationMessageFor(m => m.ExpirationDateYear)
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.SecurityCode, new { @class = "control-label" })
			<div class="input-group">
				@Html.TextBoxFor(m => m.SecurityCode, new { @class = "form-control small-form-control", maxlength = "4" })
				<i class="tooltip-v glyphicon glyphicon-question-sign on-input-box" data-tooltip-title="What is a security code?" data-tooltip-body="Credit card security codes provide an additional measure of security when you make purchases online. <br>They may be called a card security code (CSC), card verification value (CVV or CV2), card verification code (CVC) or a card code verification (CCV).<br><br><strong>How to find your card's code</strong><br>Visa, MasterCard, or Discover cards:<ul><li>Turn the card over. </li><li>In the signature box or just to the right of it, you will see a series of numbers. </li><li>If you have only 3 numbers, those are the security code. </li><li>If you have 7 numbers, the last three are the security code.</li><li>If you have 19 numbers, the last three are the security code.</li></ul>American Express cards:<ul><li>The four-digit security code is shown on the front side.</li><li>The code appears to the left or right of the embossed 16-digit card number. </li><li>The four-digit security code is printed in black, and is not embossed.</li></ul>"></i>
				@Html.ValidationMessageFor(m => m.SecurityCode)
			</div>
		</div>
		<div class="form-group bold">
			<span class="shopping-notice-note">IMPORTANT:</span> Clicking the "Review" button below does NOT submit your order.
			You will have a chance to review your order in the next step.
		</div>
		<div class="form-buttons-group">
			<input class="arrow-left-red" type="button" value="Back"/>
			<input class="arrow-right-blue" type="submit" value="Continue"/>
		</div>
	}
</div>