@using System.Threading.Tasks
@using VC.Public.Helpers
@using VitalChoice.Ecommerce.Domain.Entities.Addresses
@using VitalChoice.Interfaces.Services
@model VC.Public.Models.Checkout.AddUpdateShippingMethodModel
@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@inject IOptions<AppOptions> appOptions

@section Meta {
    <title>Wild Seafood & Organics - Vital Choice</title>
}

@{
    Layout = "~/Views/Shared/_ViewCartLayout.cshtml";
}

@section PageScripts {
    <script src="@Url.Content("/app/modules/checkout/checkoutMain.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/common/dataAccess.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/modules/auth/registration.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/modules/checkout/shippingInfo.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
}

<div class="checkout-step-container working-area-holder">
    <img class="checkout-step-banner" src="/assets/images/checkout/step3.jpg" />
    <h4 class="checkout-step-heading">3. Shipping Method</h4>
    <div class="columns-container">
        <div class="overlay">
            <div class="loading">Loading…</div>
        </div>
        <form id="mainForm" data-bind="submit: save" class="form-regular medium-small" role="form" novalidate="novalidate">
            <div style="display: none;">
                <input type="text" id="PreventChromeAutocomplete"
                       name="PreventChromeAutocomplete" autocomplete="address-level4" />
            </div>
            @Html.ValidationSummary(true, "")
            <div class="shipping-items">
                <div class="item" data-bind="foreach: Shipments">
                    <!-- ko ifnot: $index() == 0 -->
                    <div class="checkout-sections-divider big"></div>
                    <!-- /ko -->
                    <!-- ko ifnot: $parent.Shipments() > 1 -->
                    <div class="form-group">
                        <h4 class="checkout-step-heading">
                            <!-- ko if: Collapsed -->
                            <a data-bind="click: $parent.expand" class="circle-button button-green title plus hide-imp">
                                <span class="name"><span data-bind="text: 'Order #' + ($index+1)"></span> Open / Review</span><i class="glyphicon glyphicon-plus"></i><br/>
                                <span data-bind="text: FirstName+' '+LastName+' '+Address1" class="address"></span>
                            </a>
                            <!-- /ko -->
                            <!-- ko ifnot: Collapsed -->
                            <a data-bind="click: $parent.collapse" class="circle-button button-green title minus">
                                <span class="name"><span data-bind="text: 'Order #' + ($index+1)"></span></span><i class="glyphicon glyphicon-minus"></i><br/>
                                <span data-bind="text: FirstName+' '+LastName+' '+Address1" class="address"></span>
                            </a>
                            <!-- /ko -->
                            <!-- ko ifnot: FromOrder -->
                            <a data-bind="click: $parent.remove" class="button red pull-right delete-shipping">Delete Shipping Address</a>
                            <!-- /ko -->
                        </h4>
                    </div>
                    <!-- /ko -->
                    <div data-bind="css: { hide: Collapsed() }" class="item-content">
                        <!-- ko if: FromOrder -->
                        <div class="use-billing-section">
                            <span class="checkout-notification-simple">Enter your Shipping Address information below.</span>
                            <span class="checkout-notification-important margin-top-small margin-bottom-small">OR</span>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="multiline-checkbox-container">
                                        <input autocomplete="off" class="form-control" type="checkbox" data-bind="checked: UseBillingAddress">
                                        Use my Billing address as my Shipping address.<br/>
                                        <span class="shopping-notice-note">NOTE:</span> Frozen goods cannot be sent to PO boxes.
                                    </label>
                                </div>
                            </div>
                        </div>         
                        <!-- /ko -->    
                        <!-- ko if: AvalibleAddresses().length>0 -->
                        <div class="form-group">
                            <label class="control-label" for="SavedAddresses">Saved Addresses</label>
                            <div class="input-group">
                                <select autocomplete="off" class="form-control auto"
                                        data-bind="value: SelectedAvalibleAddress, options: $parent.AvalibleAddresses(), optionsText: 'Name', optionsValue:  function(item) { return item.Address.Id }, optionsCaption: 'Select'">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="display: none;" id="updateSaved">
                            <label class="control-label"></label>
                            <div class="input-group">
                                <label class="multiline-checkbox-container bold">
                                    <input autocomplete="off" class="form-control" type="checkbox" data-bind="checked: SaveToProfile">
                                </label>
                            </div>
                        </div>  
                        <!-- /ko -->    
                        <span class="checkout-notification-simple">Then click Continue, below.</span>
                        <span class="checkout-notification-important" id="spEnterAddress">Enter your Shipping Address.</span>
                        
                        <div class="columns-container checkout-columns-container">

                            <div id="dynamicArea">
                                @await Html.PartialAsync("_AddUpdateShippingMethod", Model, ViewData)
                            </div>

                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="input-group">
                                    <label class="multiline-checkbox-container bold">
                                        <input autocomplete="off" class="form-control" type="checkbox" data-bind="checked: IsGiftOrder">
                                        Check here if this order is a gift
                                    </label>
                                </div>
                            </div>     
                            <!-- ko if: IsGiftOrder -->
                            <div class="form-group" id="GiftMessageBox" style="display: none;">
                                <label class="control-label" for="GiftMessage">Gift Message</label>
                                <div class="input-group">
                                    <div class="form-control-note">
                                        <span class="shopping-notice-note">NOTE:</span> If this is an e-Gift Certificate, enter the recipient’s email address where indicated AFTER you place your order,<br />
                                        using the form on the Thank You page. (This is a security requirement.)
                                    </div>
                                    @Html.TextAreaFor(m => m.GiftMessage, new { @class = "form-control checkout-huge", rows = "5", maxlength = 250, charcount = "true", autocomplete = "off" })
                                    <span class="checkout-charcount"><b>250</b> characters remaining</span>
                                    <span class="field-validation-valid" data-valmsg-for="GiftMessage" data-valmsg-replace="true"></span>
                                </div>
                            </div>    
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div>
                    <a data-bind="click: add, text: options.AddButtonText" class="button blue margin-top-small margin-bottom-medium new-shipping"></a>
                </div>
            </div>
            <div class="form-buttons-group">
                @Html.ActionLink("Back", "AddUpdateBillingAddress", "Checkout", null, new {@class = "button arrow-left-red"})
                <input class="arrow-right-blue" type="submit" value="Continue"/>
            </div>
        </form>
    </div>
</div>