@using System.Threading.Tasks
@using VC.Public.Helpers
@using VitalChoice.Ecommerce.Domain.Entities.Addresses
@using VitalChoice.Interfaces.Services
@model VC.Public.Models.Checkout.AddUpdateShippingMethodModel
@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@inject IOptions<AppOptions> appOptions

@section Meta {
    <title>Wild Seafood & Organics - Vital Choice</title>
}

@{
    Layout = "~/Views/Shared/_ViewCartLayout.cshtml";
}

@section PageScripts {
    <script src="@Url.Content("/app/modules/checkout/checkoutMain.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/common/dataAccess.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/modules/auth/registration.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/modules/checkout/shippingInfo.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
}

<div class="checkout-step-container working-area-holder">
	<img class="checkout-step-banner" src="/assets/images/checkout/step3.jpg"/>
	<h4 class="checkout-step-heading">3. Shipping Method</h4>
	<span class="checkout-notification-simple">Enter your Shipping Address information below.</span>
    <div class="columns-container">
        <div class="overlay hide">
            <div class="loading">Loading…</div>
        </div>
        @using (Html.BeginForm("AddUpdateShippingMethod", "Checkout", null, FormMethod.Post, null, new { @class = "form-regular medium-small", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <span class="checkout-notification-important margin-top-small margin-bottom-small">OR</span>
            <div class="form-group">
                <div class="input-group">
                    <label class="multiline-checkbox-container">
                        @Html.CheckBoxFor(m => m.UseBillingAddress, new { @class = "form-control" })
                        Use my Billing address as my Shipping address.<br />
                        <span class="shopping-notice-note">NOTE:</span> Frozen goods cannot be sent to PO boxes.
                    </label>
                </div>
            </div> if (ViewBag.ShippingAddresses != null && ViewBag.ShippingAddresses.Count > 0)
            {
                <div class="form-group" @*style="display: none;" *@>
                    @Html.Label("SavedAddresses", "Saved Addresses", new { @class = "control-label" })
                    <div class="input-group">
                        @Html.DropDownListFor(x => x.Id, new SelectList(ViewBag.ShippingAddresses, "Key", "Value"), new { id = "ddShippingAddressesSelection", @class = "form-control auto" })
                    </div>
                </div>
                <div class="form-group" style="display:none;" id="updateSaved">
                    <label class="control-label"></label>
                    <div class="input-group">
                        <label class="multiline-checkbox-container bold">
                            @Html.CheckBoxFor(m => m.SaveToProfile, new { @class = "form-control" })
                            Update saved shipping address
                        </label>
                    </div>
                </div>}
            <span class="checkout-notification-simple">Then click Continue, below.</span>
            <span class="checkout-notification-important" id="spEnterAddress">Enter your Shipping Address.</span>
            @Html.ValidationSummary(true, "")
            <div class="columns-container checkout-columns-container">

                <div id="dynamicArea">
                    @await Html.PartialAsync("_AddUpdateShippingMethod", Model, ViewData)
                </div>

                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="input-group">
                        <label class="multiline-checkbox-container bold">
                            @Html.CheckBoxFor(m => m.IsGiftOrder, new { @class = "form-control" })
                            Check here if this order is a gift
                        </label>
                    </div>
                </div>
                <div class="form-group" id="GiftMessageBox" style="display: none;">
                    @Html.LabelFor(m => m.GiftMessage, new { @class = "control-label" })
                    <div class="input-group">
                        <div class="form-control-note">
                            <span class="shopping-notice-note">NOTE:</span> If this is an e-Gift Certificate, enter the recipient’s email address where indicated AFTER you place your order,<br />
                            using the form on the Thank You page. (This is a security requirement.)
                        </div>
                        @Html.TextAreaFor(m => m.GiftMessage, new { @class = "form-control checkout-huge", rows = "5", maxlength = 255, charcount = "true" })
                        <span class="checkout-charcount"><b>255</b> characters remaining</span>
                        @Html.ValidationMessageFor(m => m.GiftMessage)
                    </div>
                </div>
                <div class="form-buttons-group">
                    @Html.ActionLink("Back", "AddUpdateBillingAddress", "Checkout", null, new { @class = "button arrow-left-red" })
                    <input class="arrow-right-blue" type="submit" value="Continue" />
                </div>
            </div>
        }
    </div>
</div>