@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.Rendering
@using VitalChoice.Core.Infrastructure.Helpers
@using VitalChoice.Interfaces.Services
@using VitalChoice.Infrastructure.Domain.Transfer
@model VC.Public.Models.Checkout.AddUpdateBillingAddressModel
@inject ReferenceData InfrastructureService
@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@inject IOptions<AppOptions> appOptions

@section Meta {
	<title>Wild Seafood & Organics - Vital Choice</title>
}

@{
	Layout = "~/Views/Shared/_ViewCartLayout.cshtml";
}

@section PageScripts {
	<script src="@Url.Content("/app/modules/checkout/checkoutMain.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/common/dataAccess.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/modules/auth/registration.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/common/billing.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
	<script src="@Url.Content("/app/modules/checkout/billingInfo.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
}

<div class="checkout-step-container working-area-holder">
	<img class="checkout-step-banner" src="/assets/images/checkout/step3.jpg"/>
	<h4 class="checkout-step-heading">3. Billing</h4>
	<span class="checkout-notification-important">Please enter your billing address below.</span>
	<span class="checkout-notification-simple">An accurate billing address is essential to get your order to you quickly.</span>
	<span class="checkout-notification-important">Shopping online with Vital Choice is extremely safe. All information is encrypted.</span>
    <div class="columns-container checkout-columns-container">
        <div class="overlay">
            <div class="loading">Loading…</div>
        </div>
        @using (Html.BeginForm("AddUpdateBillingAddress", "Checkout", null, FormMethod.Post, null, new { @class = "form-regular medium-small", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <div style="display: none;">
                <input type="text" id="PreventChromeAutocomplete"
                       name="PreventChromeAutocomplete" autocomplete="address-level4" />
            </div>
            if (ViewBag.CreditCards != null && ViewBag.CreditCards.Count > 1)
            {
                <div class="form-group">
                    @Html.Label("SavedCards", "Saved Cards", new { @class = "control-label" })
                    <div class="input-group">
                        @Html.DropDownListFor(x => x.Id, new SelectList(ViewBag.CreditCards, "Key", "Value", Model.Id), new { id = "ddCreditCardsSelection", @class = "form-control auto", autocomplete = "off" })
                    </div>
                </div>
            }
            <h4 class="checkout-step-sub-heading">Payment Details</h4>
            <div class="form-group">
                <div class="checkout-sections-divider"></div>
            </div>
            <div class="form-group">
                <label class="control-label">Payment Method</label>
                <div class="input-group checkout-acceptable-cards">
                    <img src="/Assets/images/checkout/ccicons.jpg" />
                </div>
            </div>

            <div id="dynamicArea">
                @await Html.PartialAsync("_AddUpdateBillingAddress", Model, ViewData)
            </div>

            <div class="form-buttons-group">
                @Html.ActionLink("Back", "AddUpdateShippingMethod", "Checkout", null, new { @class = "button arrow-left-red" })
                <input class="arrow-right-blue" type="submit" value="Continue"/>
            </div>
        }
    </div>
</div>