@using System.Threading.Tasks
@using VC.Public.Helpers
@using VitalChoice.Ecommerce.Domain.Entities.Addresses
@using VitalChoice.Interfaces.Services
@model VC.Public.Models.Checkout.AddUpdateShippingMethodModel
@using Microsoft.Extensions.Options
@using VitalChoice.Infrastructure.Domain.Options
@using VitalChoice.Infrastructure.Domain.Transfer
@using VitalChoice.Core.Infrastructure.Helpers
@inject IOptions<AppOptions> appOptions
@inject ReferenceData InfrastructureService

@section Meta {
    <title>Wild Seafood & Organics - Vital Choice</title>
}

@{
    Layout = "~/Views/Shared/_ViewCartLayout.cshtml";
}

@section PageScripts {
    <script src="@Url.Content("/app/modules/checkout/checkoutMain.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/common/dataAccess.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
    <script src="@Url.Content("/app/modules/checkout/shippingInfo.js")?v=@(appOptions.Value.Versioning.BuildNumber)"></script>
}

<div class="checkout-step-container working-area-holder">
    <img class="checkout-step-banner" src="/assets/images/checkout/step2.jpg" />
    <h4 class="checkout-step-heading">2. Shipping</h4>
    <div class="columns-container">
        <!-- ko if: refreshing() -->
        <div class="overlay">
            <div class="loading">Loading…</div>
        </div>
        <!-- /ko -->
        <!-- ko if: loaded() -->
        <form id="mainForm" data-bind="submit: save" class="form-regular medium-small hide" role="form" novalidate="novalidate">
            <div style="display: none;">
                <input type="text" id="PreventChromeAutocomplete"
                       name="PreventChromeAutocomplete" autocomplete="address-level4" />
            </div>
            @Html.ValidationSummary(true, "")
            <div class="shipping-items">
                <div class="item-wrapper" data-bind="foreach: Model.Shipments">
                    <div class="item" data-bind="css: { 'alternate-color': $root.Model.Shipments().length>1 && $index()%2==0 }, attr: {'data-index': $index()}">
                        <!-- ko ifnot: $index() == 0 -->
                        <div class="checkout-sections-divider big"></div>
                        <!-- /ko -->
                        <!-- ko if: $root.Model.Shipments().length > 1 -->
                        <div class="form-group">
                            <h4 class="checkout-step-heading">
                                <!-- ko if: Collapsed -->
                                <a data-bind="click: $parent.expand" class="circle-button button-green title plus">
                                    <span class="name"><span data-bind="text: 'Order #' + ($index()+1)"></span> Open / Review</span><i class="glyphicon glyphicon-plus"></i><br />
                                    <span data-bind="text: FirstName()+' '+LastName()+' '+Address1()" class="address"></span>
                                </a>
                                <!-- /ko -->
                                <!-- ko ifnot: Collapsed -->
                                <a data-bind="click: $parent.collapse" class="circle-button button-green title minus">
                                    <span class="name"><span data-bind="text: 'Order #' + ($index()+1)"></span> Close</span><i class="glyphicon glyphicon-minus"></i><br />
                                    <span data-bind="text: FirstName()+' '+LastName()+' '+Address1()" class="address"></span>
                                </a>
                                <!-- /ko -->
                                <!-- ko ifnot: FromOrder -->
                                <a data-bind="click: $parent.remove" class="button red pull-right delete-shipping">Delete Shipping Address</a>
                                <!-- /ko -->
                            </h4>
                        </div>
                        <!-- /ko -->
                        <div data-bind="css: { 'hide-imp': Collapsed() }" class="item-content">
                            <!-- ko if: FromOrder -->
                            <div class="use-billing-section">
                                <div class="form-group">
                                    <span class="checkout-notification-simple">Enter your Shipping Address information below.</span>
                                </div>
                                @*<span class="checkout-notification-important margin-top-small margin-bottom-small">OR</span>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="multiline-checkbox-container">
                                                <input autocomplete="off" class="form-control" type="checkbox" data-bind="checked: UseBillingAddress, attr: { name: 'i'+$index()+'.UseBillingAddress', id: 'i'+$index()+'.UseBillingAddress'}">
                                                Use my Billing address as my Shipping address.<br />
                                                <span class="shopping-notice-note">NOTE:</span> Frozen goods cannot be sent to PO boxes.
                                            </label>
                                        </div>
                                    </div>*@
                            </div>
                            <!-- /ko -->
                            <!-- ko if: $root.Model.AvalibleAddresses().length>0 -->
                            <!-- ko ifnot: UseBillingAddress -->
                            <div class="form-group">
                                <label class="control-label" for="SavedAddresses">Saved Addresses</label>
                                <div class="input-group">
                                    <select autocomplete="off" class="form-control auto" data-val="false"
                                            data-bind="attr: { name: 'i'+$index()+'.SelectedAvalibleAddress', id: 'i'+$index()+'.SelectedAvalibleAddress'},
                                            value: SelectedAvalibleAddress, options: $root.Model.AvalibleAddresses(), optionsText: 'Name', optionsValue:  function(item) { return item.Address }, optionsCaption: 'Select'"></select>
                                </div>
                            </div>
                            @*<!-- ko if: SelectedAvalibleAddress() && IdCustomerShippingAddress() -->
                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="input-group">
                                    <label class="multiline-checkbox-container bold">
                                        <input autocomplete="off" class="form-control" type="checkbox" data-bind="checked: SaveToProfile,attr: { name: 'i'+$index()+'.SaveToProfile', id: 'i'+$index()+'.SaveToProfile'}">
                                        Update saved shipping address
                                    </label>
                                </div>
                            </div>
                            <!-- /ko -->*@
                            <!-- /ko -->
                            <!-- /ko -->
                            <span class="checkout-notification-simple">Then click Continue, below.</span>
                            <!-- ko ifnot: UseBillingAddress -->
                            <span class="checkout-notification-important">Enter your Shipping Address.</span>
                            <!-- /ko -->

                            <div class="columns-container checkout-columns-container">
                                <!-- ko ifnot: UseBillingAddress -->
                                <div class="form-two-column">
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.FirstName' }">First Name</label>
                                        <div class="input-group">
                                            <input data-bind="value: FirstName,attr: { name: 'i'+$index()+'.FirstName', id: 'i'+$index()+'.FirstName'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="First Name exceeds length of 100 literals." data-val-maxlength-max="100" data-val-required="The First Name field is required." type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.FirstName'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.LastName' }">Last Name</label>
                                        <div class="input-group">
                                            <input data-bind="value: LastName,attr: { name: 'i'+$index()+'.LastName', id: 'i'+$index()+'.LastName'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="Last Name exceeds length of 100 literals." data-val-maxlength-max="100" data-val-required="The Last Name field is required." type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.LastName'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.Company' }">Company</label>
                                        <div class="input-group">
                                            <input data-bind="value: Company,attr: { name: 'i'+$index()+'.Company', id: 'i'+$index()+'.Company'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="Company exceeds length of 100 literals." data-val-maxlength-max="100" type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.Company'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.IdCountry' }">Country</label>
                                        <div class="input-group">
                                            <select autocomplete="off" class="form-control" data-val="true" data-val-required="The Country field is required."
                                                    data-bind="value: IdCountry, options: $root.options.Countries, optionsText: 'CountryName', optionsValue: 'Id'"></select>
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.IdCountry'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.Address1' }">Address</label>
                                        <div class="input-group">
                                            <input data-bind="value: Address1,attr: { name: 'i'+$index()+'.Address1', id: 'i'+$index()+'.Address1'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="Address exceeds length of 100 literals." data-val-maxlength-max="100" data-val-required="The Address field is required." type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.Address1'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.Address2' }"></label>
                                        <div class="input-group">
                                            <input data-bind="value: Address2,attr: { name: 'i'+$index()+'.Address2', id: 'i'+$index()+'.Address2'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="Address2 exceeds length of 100 literals." data-val-maxlength-max="100" type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.Address2'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-two-column">
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.City' }">City</label>
                                        <div class="input-group">
                                            <input data-bind="value: City,attr: { name: 'i'+$index()+'.City', id: 'i'+$index()+'.City'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="City exceeds length of 100 literals." data-val-maxlength-max="100" data-val-required="The City field is required." type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.City'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <!-- ko if: SelectedCountry() && SelectedCountry().States.length>0 -->
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.IdState' }">State/Province</label>
                                        <div class="input-group">
                                            <select autocomplete="off" class="form-control" data-val="true" data-val-required="The State/Province field is required."
                                                    data-bind="value: IdState, options: SelectedCountry().States, optionsText: 'StateName', optionsValue: 'Id'"></select>
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.IdState'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: SelectedCountry() && SelectedCountry().States.length==0 -->
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.County' }">State/Province</label>
                                        <div class="input-group">
                                            <input data-bind="value: County,attr: { name: 'i'+$index()+'.County', id: 'i'+$index()+'.County'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="State/Province exceeds length of 100 literals." data-val-maxlength-max="100" data-val-required="The State/Province field is required." type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.County'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.PostalCode' }">Postal Code</label>
                                        <div class="input-group">
                                            <input data-bind="value: PostalCode,attr: { name: 'i'+$index()+'.PostalCode', id: 'i'+$index()+'.PostalCode'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="Postal Code exceeds length of 10 literals." data-val-maxlength-max="10" data-val-required="The Postal Code field is required." type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.PostalCode'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.Phone' }">Phone</label>
                                        <div class="input-group">
                                            <input data-bind="masked: Phone, valueUpdate: 'input', attr: { name: 'i'+$index()+'.Phone', id: 'i'+$index()+'.Phone'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="Phone exceeds length of 100 literals." data-val-maxlength-max="100" data-val-required="The Phone field is required." type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.Phone'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.Fax' }">Fax</label>
                                        <div class="input-group">
                                            <input data-bind="masked: Fax, valueUpdate: 'input', attr: { name: 'i'+$index()+'.Fax', id: 'i'+$index()+'.Fax'}" autocomplete="off" class="form-control"
                                                   data-val="true" data-val-maxlength="Fax exceeds length of 100 literals." data-val-maxlength-max="100" type="text">
                                            <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.Fax'}" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /ko -->
                                <div class="form-group">
                                    <div class="checkout-sections-divider"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address Type</label>
                                    <div class="input-group">
                                        <label>
                                            <input autocomplete="off" data-bind="checked: AddressType, checkedValue: 1,attr: { name: 'i'+$index()+'.AddressType', id: 'i'+$index()+'.AddressType'}"
                                                   class="form-control" type="radio">
                                            Residential
                                        </label>
                                        <label class="left-indent-medium">
                                            <input autocomplete="off" data-bind="checked: AddressType, checkedValue: 2" class="form-control" type="radio">
                                            Commercial
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="PreferredShipMethod">Preferred Ship Method</label>
                                    <div class="input-group">
                                        <label data-bind="text: PreferredShipMethodName" class="form-control-static"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.DeliveryInstructions' }">Delivery Instructions</label>
                                    <div class="input-group">
                                        <textarea data-bind="charcount: true, value: DeliveryInstructions,attr: { name: 'i'+$index()+'.DeliveryInstructions', id: 'i'+$index()+'.DeliveryInstructions'}"
                                                  autocomplete="off" class="form-control checkout-huge valid"
                                                  data-val="true" data-val-maxlength="Delivery Instructions exceeds length of 60 literals." data-val-maxlength-max="60"
                                                  maxlength="60" placeholder="Please enter any special notes for the driver. Example: Please Knock on Door" rows="5"></textarea>
                                        <span class="checkout-charcount"><b>60</b> characters remaining</span>
                                        <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.DeliveryInstructions'}" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"></label>
                                    <div class="input-group">
                                        <label class="multiline-checkbox-container bold">
                                            <input autocomplete="off" class="form-control" type="checkbox" data-bind="checked: IsGiftOrder">
                                            Check here if this order is a gift
                                        </label>
                                    </div>
                                </div>
                                <!-- ko if: IsGiftOrder -->
                                <div class="form-group">
                                    <label class="control-label" data-bind="attr: { for: 'i'+$index()+'.GiftMessage' }">Gift Message</label>
                                    <div class="input-group">
                                        <div class="form-control-note">
                                            <span class="shopping-notice-note">NOTE:</span> If this is an e-Gift Certificate, enter the recipient’s email address where indicated AFTER you place your order,<br />
                                            using the form on the Thank You page. (This is a security requirement.)
                                        </div>
                                        <textarea data-bind="charcount: true, value: GiftMessage,attr: { name: 'i'+$index()+'.GiftMessage', id: 'i'+$index()+'.GiftMessage'}"
                                                  autocomplete="off" class="form-control checkout-huge"
                                                  data-val="true" data-val-maxlength="Gift Message exceeds length of 250 literals."
                                                  data-val-maxlength-max="250" maxlength="250" rows="5"></textarea>
                                        <span class="checkout-charcount"><b>250</b> characters remaining</span>
                                        <span class="field-validation-error" data-bind="attr: { 'data-valmsg-for': 'i'+$index()+'.GiftMessage'}" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div>
                    <!-- ko if: Model.AllowAddMultipleShipments() && options.AddButtonText() -->
                    <a data-bind="click: add, text: options.AddButtonText" class="button blue margin-top-small margin-bottom-medium new-shipping"></a>
                    <!-- /ko -->
                </div>
            </div>

            @if (!User.Identity.IsAuthenticated || !InfrastructureService.IsValidCustomer(User))
            {
                <div>
                    <h4 class="checkout-step-heading">Create Account</h4>
                    <div class="form-group">
                        <div class="checkout-sections-divider"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Email">Email</label>
                        <div class="input-group">
                            <input data-bind="value: Model.Email" autocomplete="off" class="form-control"
                                   data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-maxlength="Email exceeds length of 100 literals." data-val-maxlength-max="100" data-val-required="The Email field is required." id="Email" name="Email" type="text" value=""><span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="checkout-notification-important">For faster checkout and to receive customer rewards and incentives please register your account by providing a password.</span>
                    </div>
                    <!-- ko ifnot: Model.GuestCheckout() -->
                    <span class="form-control-important-info">Must be at least 8 characters long, contain at least 1 numerical digit, 1 capital character, 1 lowercase character and 1 special character.<br />Example: Dontuse!#1</span>
                    <div class="form-group">
                        <label class="control-label" for="Password">Password</label>
                        <div class="input-group">
                            <input data-bind="value: Model.Password" autocomplete="off" autocomplete="off" class="form-control"
                                   data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="ConfirmPassword">Password Confirm</label>
                        <div class="input-group">
                            <input data-bind="value: Model.ConfirmPassword" autocomplete="off" class="form-control"
                                   data-val="true" data-val-equalto="'Password Confirm' and 'Password' do not match." data-val-equalto-other="*.Password" data-val-required="The Password Confirm field is required." id="ConfirmPassword" name="ConfirmPassword" type="password">
                            <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: Model.GuestCheckout() -->
                    <span class="form-control-important-info">By checking out as a guest you will not be able to retrieve your order history or receive all the benefits of a registered user.</span>
                    <!-- /ko -->
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="input-group">
                            <label class="bold">
                                <input data-bind="checked: Model.GuestCheckout" autocomplete="off" class="form-control" id="GuestCheckout" name="GuestCheckout" type="checkbox" value="true">
                                No thank you. I would like to checkout as a guest
                            </label>
                        </div>
                    </div>
                </div>
            }
            <img class="billing-advert-image" src="/Assets/images/checkout/subscribe-promo-bar-5-16-13-A.png" />
            <div class="form-group">
                <label class="control-label"></label>
                <div class="input-group">
                    <label class="multiline-checkbox-container">
                        <input data-bind="checked: Model.SendNews" autocomplete="off" checked="checked" class="form-control" id="SendNews" name="SendNews" type="checkbox">
                        Send weekly Offers, Recipes, and Food/Health News via the <i>Vital Choices</i> e-letter.<br /><br />
                        <span class="shopping-notice-note">NOTE:</span>If you already get <i>Vital Choices</i>, DO NOT UN-CHECK THIS BOX unless you want to cancel it … we won’t <br /> duplicate your subscription!
                    </label>
                </div>
            </div>
            <!-- ko if: Model.ShowSendCatalog() -->
            <div class="form-group">
                <label class="control-label"></label>
                <div class="input-group">
                    <label class="multiline-checkbox-container">
                        <input data-bind="checked: Model.SendCatalog" autocomplete="off" checked="checked" class="form-control" id="SendNews" name="SendNews" type="checkbox">
                        Send me the award-winning Vital Choice catalog on a seasonal basis.<br /><br />
                        <a href="#">Our privacy policy</a>
                    </label>
                </div>
            </div>
            <!-- /ko -->

        <div class="form-buttons-group">
            @(User.Identity.IsAuthenticated ? Html.ActionLink("Back", "ViewCart", "Cart", null, new {@class = "button arrow-left-red"}) : Html.ActionLink("Back", "Welcome", "Checkout", htmlAttributes: new {@class = "button arrow-left-red"}))
            <input class="arrow-right-blue" type="submit" value="Continue"/>
        </div>
        </form>
        <!-- /ko -->
    </div>
</div>