@{
	Layout = "~/Views/Shared/_ViewCartLayout.cshtml";
}

@using System.Threading.Tasks
@using VC.Public.Models.Auth
@model LoginModel

@section PageScripts {
	<script src="@Url.Content("/app/modules/auth/login.js")"></script>
	<script src="@Url.Content("/app/modules/checkout/checkoutMain.js")"></script>
}

@section Meta {
	<title>Wild Seafood & Organics - Vital Choice</title>
}

<div class="checkout-step-container working-area-holder">
	<img src="/assets/images/checkout/step1.gif"/>
	<h4 class="checkout-step-heading">1. Welcome</h4>
	<span class="checkout-notification-important">Ordering from Vital Choice has never been faster or easier.</span>
	<span class="checkout-notification-simple">Just fill out the information below to get started.</span>
	<div class="columns-container welcome-columns-container">
		<div class="two-columns-block login" data-forgot-pass-success="@(ViewBag.ForgotPassSuccess != null && ViewBag.ForgotPassSuccess ? "Instructions on resetting your password have been emailed to your email address" : "")">
			@using (Html.BeginForm("Welcome", "Checkout", FormMethod.Post, new { @class = "form-regular small checkout-login-form", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>Account Login</h4>
				@Html.ValidationSummary(true, "")
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new {@class = "control-label"})
					<div class="input-group">
						@Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
						@Html.ValidationMessageFor(m => m.Email, "")
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new {@class = "control-label"})
					<div class="input-group">
						@Html.PasswordFor(m => m.Password, new {@class = "form-control"})
						@Html.ValidationMessageFor(m => m.Password, "")
					</div>
				</div>
				<div class="form-buttons-group">
					<input type="submit" value="Login"/>
				</div>
				<div class="form-group">
					Forgot your password? @Html.ActionLink("Click here to reset it.", "ForgotPassword", "Account", new { ReturnUrl = Url.Action("Welcome", new { forgot = true})})
				</div>
			}
		</div>
		<div class="checkout-columns-divider"></div>
		<div class="two-columns-block welcome-centered-button">
			@Html.ActionLink("Proceed as New Customer / Guest", "AddUpdateBillingAddress", null, htmlAttributes: new { @class = "button blue" })
		</div>
	</div>
</div>
