@model VC.Public.Models.Cart.ViewCartModel

<div class="cart-lite-container working-area-holder" title="Item(s) added to the cart">
	<div class="cart-lite-info">
		<span>Cart contains <b>@(Model.Skus.Sum(x => x.Quantity)+Model.PromoSkus.Sum(x => x.Quantity))</b> Item(s)</span>&nbsp;|&nbsp;
		<span>Subtotal: <b>@Model.SubTotal.ToString("C2")</b></span>
	</div>
	<div class="cart-lite-controls">
		@Html.ActionLink("View Cart", "ViewCart", "Cart", null, new {@class = "button yellow"})
		<a id="lnkClose" href="#" class="button">Continue Shopping</a>
	</div>
	@if (Model.CrossSells.Any())
	{
	<div class="cartlite-proposals-container">
		<span class="cartlite-proposals-title">
				Great products. Great value. Add these to your cart.
			</span>
		@foreach (var item in Model.CrossSells)
		{
			<div class="cartlite-proposals-item">
				<span class="proposals-item-title">@item.Price.ToString("C2")</span>
				<a class="proposals-item-link" href="#" data-sku-code = '@item.SkuCode'>
					<img src="@item.ImageUrl"/>
					@item.Title
				</a>
			</div>
		}
	</div>
	}
</div>
