@{
	Layout = "~/Views/Shared/_ViewCartLayout.cshtml";
}

@model VC.Public.Models.Cart.ViewCartModel

@section PageScripts {
	<script src="@Url.Content("/app/common/dataAccess.js")"></script>
	<script src="@Url.Content("/app/modules/cart/viewcart.js")"></script>
	<script src="@Url.Content("/app/modules/checkout/checkoutMain.js")"></script>
}

@section Meta {
	<title>Wild Seafood & Organics - Vital Choice</title>
}
<div class="cart-content-top" data-bind="visible: Model.FreeShipDifference()">
	<span class="cart-head-text">IMPORTANT NOTICE</span>
    <span class="cart-subhead-text">You are only <span data-bind="text: formatCurrency(Model.FreeShipDifference())">@((Model.FreeShipDifference ?? 0).ToString("C2"))</span> from Free Shipping.</span>
	<p class="cart-body-text">To enjoy Free Shipping simply add more items until the Cart total reaches $99.00 or more.<br/>
		(Gift Certificates are exempt from shipping charges). <a href="/">Continue Shopping</a></p>
</div>
<div class="cart-content-middle">
	<div class="cart-shopping-notice">
		<div class="shopping-notice-left">
			<h6>Your Shopping Cart</h6>
		</div>
		<div class="shopping-notice-right">
			<span class="shopping-notice-note">NOTE:</span><span>We cannot ship frozen foods to Canada, due to cost and excessive delays.</span>
			<ul>
				<li>
					Free shipping on orders of $99 or more does not apply to Canada.<br/>
					Please call 800-608-4825 to place your order. <a href="#">Click here for details.</a>
				</li>
				<li>Frozen goods sent to Alaska or Hawaii* are subject to surcharges: <a href="#">Click here for details.</a></li>
			</ul>
		</div>
		<span>Please review your purchases and quantities, then click the Checkout button.</span>
	</div>
	@using (Html.BeginForm("ViewCart", "Cart", null, FormMethod.Post, new {@class = "form-cart", role = "form", @id = "viewCartForm", data_bind = "submit: submitCart" }))
	{
		<div class="cart-certificates-container">
			<a name="trustlink" href="http://secure.trust-guard.com/certificates/5867" target="_blank"
			   onclick="var nonwin = navigator.appName != 'Microsoft Internet Explorer' ? 'yes' : 'no'; window.open(this.href.replace('http', 'https'), 'welcome', 'location=' + nonwin + ',scrollbars=yes,width=517,height=' + screen.availHeight + ',menubar=no,toolbar=no'); return false;"
			   oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;">
				<img name="trustseal" alt="Security Seal" style="border: 0;" src="https://secure.trust-guard.com/seals/5867/scanned/mini/gray"/>
			</a>
			<a class="cart-guarantee-link" href="#">
				<img src="/assets/images/guarantee2-cart.jpg"/>
			</a>
		</div>
		<div class="cart-overlay-container">
			<div class="overlay" data-bind="visible:refreshing">
				<div class="loading">Loading…</div>
			</div>
			<div class="cart-control-container">
				<a href="/" class="button arrow-left-red">Continue Shopping</a>
				<input type="submit" class="checkout-blue" value="Checkout"/>
			</div>

			@(await Html.PartialAsync("_ViewCart", Model, ViewData))

			<div class="cart-control-container">
				<a href="/" class="button arrow-left-red">Continue Shopping</a>
				<input type="submit" class="checkout-blue" value="Checkout"/>
			</div>
		</div>
	}
</div>
<div class="cart-content-bottom">
	<div class="best-proposals-container">
		<span class="best-proposals-title">
			Great products. Great value. Add these to your cart.
		</span>
		<div class="best-proposals-item">
			<span class="proposals-item-title">$6.50</span>
			<a class="proposals-item-link" href="#">
				<img src="/Assets/images/cart/NRT501_alabcore_pouched_30z_218.jpg" />
				Wild Albacore Tuna
				Grab 'n Go Pouch
			</a>
		</div>
		<div class="best-proposals-item">
			<span class="proposals-item-title">$6.50</span>
			<a class="proposals-item-link" href="#">
				<img src="/Assets/images/cart/ntm1_trail-mix_no_pistachio_218.jpg" />
				Organic Super Antioxidant
				Trail Mix - 16 oz
			</a>
		</div>
		<div class="best-proposals-item">
			<span class="proposals-item-title">$6.50</span>
			<a class="proposals-item-link" href="#">
				<img src="/Assets/images/cart/seaweedsalad_218.jpg" />
				Wakame Seaweed Salad
				8 oz tub
			</a>
		</div>
		<div class="best-proposals-item">
			<span class="proposals-item-title">$6.50</span>
			<a class="proposals-item-link" href="#">
				<img src="/Assets/images/cart/NSC201_salmonoil_1000mg_90_218.jpg" />
				1000 mg Sockeye Salmon Oil
				Softgels - 90 Caps
			</a>
		</div>
	</div>
</div>