@model VC.Public.Models.ContentPageViewModel

@section Meta {
        <title>@Html.Raw(Model.Title)</title>
        <meta name="keywords" content="@Html.Raw(Model.MetaKeywords)">
        <meta name="description" content="@Html.Raw(Model.MetaDescription)">
}

@section PageScripts {
    @Html.Raw(Model.Scripts)
}
@Html.Raw(Model.HTML)