@model VC.Public.Models.ContentPageViewModel

@section Meta {
        <title>@Html.Raw(Model.Title)</title>
        <meta name="description" content="@Html.Raw(Model.MetaDescription)">
}

@section PageScripts {
	@*<div id='yPlayer1' class='youtube-popup-container'></div>
	<div id='yPlayer2' class='youtube-popup-container'></div>
	<div id='yPlayer3' class='youtube-popup-container'></div>
	<div id='yPlayer4' class='youtube-popup-container'></div>*@

    <script src="@Url.Content("/app/modules/product/addtocart.js")"></script>
	<script src="@Url.Content("/app/modules/product/productPage.js")"></script>
	<script src="@Url.Content("/app/modules/product/productReview.js")"></script>
	<script src="https://www.google.com/recaptcha/api.js" async="async"></script>
}
@Html.Raw(Model.HTML)