@using Microsoft.Extensions.OptionsModel
@using VitalChoice.Infrastructure.Domain.Options
@model VC.Public.Models.Help.CustomerServiceRequestModel
@inject IOptions<AppOptions> appOptions;

@section Meta {
    <title>Vital Choice | Contact Customer Service</title>
}

@section PageScripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

@{ 
    var types = new List<SelectListItem>() {
                new SelectListItem() { Text="Customer Service", Value=((int)VC.Public.Models.Help.CustomerServiceRequestType.CustomerService).ToString() },
                new SelectListItem() { Text="Feedback", Value=((int)VC.Public.Models.Help.CustomerServiceRequestType.Feedback).ToString() },
            };
}

<script>
    successMessage = '@ViewBag.SuccessMessage';
</script>

<div class="working-area-holder">
    <div class="left-content-pane">
        &nbsp;
    </div>
    <div class="center-content-pane">
        <h4>Contact Customer Service</h4>
        <p>
            <strong>At Vital Choice, we strive to provide the best customer service possible.</strong>
        </p>
        <p>
            You'll find the answers to many common questions by visiting our <a href="#">FAQ section</a>.
            If you are wondering about the status of your shipment, you should have received a "Shipment Notification" email that lets you track the shipping of your order.
        </p>
        <p>
            <strong>Customer Service by Email</strong>
        </p>
        <ul>
            <li>
                <strong>To send order-related emails</strong>,
                 leave the "Send My Comments to" menu below set to Customer Service, enter your information, and click Send. To receive a faster response, please include the order number provided in the email receipt we sent to you. </>
            </li>
            <li>
                <strong>To send general comments and suggestions</strong>, 
                set the "Send My Comments to" menu below to Feedback, enter your information, and click Send. 
            </li>
        </ul>
        @using (Html.BeginForm("ContactCustomerService", "Help", null, FormMethod.Post, new { @class = "form-regular medium-small", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <div class="form-group">
                @Html.LabelFor(m => m.Type, new { @class = "control-label" })
                <div class="input-group">
                    @Html.DropDownListFor(m => m.Type, types, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Type, "")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Comment, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextAreaFor(m => m.Comment, new { @class = "form-control bigger", @rows = 10 })
                    @Html.ValidationMessageFor(m => m.Comment)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <div class="g-recaptcha" data-sitekey="@appOptions.Value.GoogleCaptcha.PublicKey"></div>
            </div>
            <div class="form-buttons-group">
                <input class="yellow" type="submit" value="Submit" />
            </div>
        }
        <div class="clear"></div>
        <p>
            <strong>Call to Order Anytime</strong>
        </p>
        <p>
            Prefer talking to clicking? Shop by calling our toll-free Sales Line at 800-608-4825, where we take orders 24 hours a day, 365 days a year.
        </p>
        <p>
            For detailed account and product information, call our special Customer Service Line.
        </p>
        <p>
            <strong>Customer Service Line - Open 5 days a week (specified hours only).</strong>
        </p>
        <p>
            Our friendly Customer Service representatives are here to take orders and answer account and product questions. Call them toll-free at 866-482-5887, Monday through Friday
            from 7:00 am to 4:00 pm Pacific Time.
        </p>
        <p>
            <strong>Mailing address</strong>
        </p>
        <p>
            Vital Choice Wild Seafood & Organics<br />
            PO Box 4121<br />
            Bellingham, WA 98227
        </p>
        <p>
            <strong>Return Policy</strong>
        </p>
        <p>
            We hope you will be delighted with your purchase. If you are not satisfied and would like to return a product, please be aware of the following guidelines:
        </p>
        <ul>
            <li>
                Refund must be requested within 30 days of purchase date.
                <br/><br />
            </li>
            <li>
                Product must have been purchased from Vital Choice Seafood, Inc.
                <br /><br />
            </li>
            <li>
                Shipping charges are refundable only if products were delivered late or damaged in transit.
            </li>
        </ul>
        <p>
            Non-perishable products must be returned to:
        </p>
        <p>
            Vital Choice Wild Seafood & Organics<br/>
            2460 Salashan Loop<br />
            Ferndale, WA 98248
        </p>
        <p>
            ATTN: Returns Dept.
        </p>
        <hr />
        <p>
            <a href="#">Your Suggestions</a> will help make Vital Choice even better!
        </p>
    </div>
    <div class="right-content-pane">
        &nbsp;
    </div>
</div>