@model VC.Public.Models.Profile.SidebarModel

<div class="form-group">
	<span class="info-text bottom-indent-small length-restricted-text">Welcome</span><br/>
	<span class="info-text length-restricted-text">@Model.FirstName&nbsp;@Model.LastName</span>
</div>
<div class="form-group">
	<hr/>
</div>
<div class="profile-sidebar-links">
    <div class="form-group">
        @Html.ActionLink("Manage Affiliate Profile", "ChangeProfile", "AffiliateProfile")
    </div>
    <div class="form-group">
        @Html.ActionLink("Change Password", "ChangePassword", "AffiliateProfile")
    </div>
    <div class="form-group">
        @Html.ActionLink("Current Unpaid Orders", "UnpaidOrders", "AffiliateProfile")
    </div>
    <div class="form-group">
        @Html.ActionLink("Payment History", "PaymentHistory", "AffiliateProfile")
    </div>
    <div class="form-group">
        @Html.ActionLink("All Time Orders", "PaidOrders", "AffiliateProfile")
    </div>
    <div class="form-group">
        @Html.ActionLink("Logout", "Logout", "AffiliateAccount")
    </div>
</div>