@model VC.Public.Models.Profile.SidebarModel

<div class="form-group">
	<span class="info-text bottom-indent-small length-restricted-text">Welcome</span><br/>
	<span class="info-text length-restricted-text">@Model.FirstName&nbsp;@Model.LastName</span>
</div>
<div class="form-group">
	<hr/>
</div>
<div class="profile-sidebar-links">
	<div class="form-group">
		@Html.ActionLink("My Favorites", "TopFavoriteItems", "Profile")
	</div>
	<div class="form-group">
		@Html.ActionLink("Manage Account Profile", "ChangeProfile", "Profile")
	</div>
	<div class="form-group">
		@Html.ActionLink("Manage Billing Information", "ChangeBillingInfo", "Profile")
	</div>
	<div class="form-group">
		@Html.ActionLink("Manage Shipping Information", "ChangeShippingInfo", "Profile")
	</div>
	<div class="form-group">
		@Html.ActionLink("Change Password", "ChangePassword", "Profile")
	</div>
	<div class="form-group">
		@Html.ActionLink("Logout", "Logout", "Account")
	</div>
</div>