@using System.Threading.Tasks
@using VC.Public.Models.Auth
@model ForgotPasswordEmailModel

@section Meta {
    <title>Vital Choice | Forgot Password</title>
}

<div class="working-area-holder">
    @using (Html.BeginForm("ForgotPassword", "AffiliateAccount", null, FormMethod.Post, new { @class = "form-regular small", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Enter Your Email To Retrieve Your Password</h4>
        @if (ViewBag.SuccessSend == null)
        {
            @Html.ValidationSummary(true, "")
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
            </div>
	        <div class="form-buttons-group">
				<input type="button" value="Back" data-back-button="@Url.Action("Login")" />
		        <input type="submit" class="yellow" value="Continue"/>
	        </div>
        }
        else
        {
            <div class="form-group">
                <span class="success-message">Instructions on resetting your password have been emailed to your email address.</span>
            </div>
            <div class="form-buttons-group">
                <input type="button" value="Back" data-back-button="@Url.Action("Login")" />
            </div>
        }
    }
    <div class="form-group">
        <hr />
    </div>
</div>