@using System.Threading.Tasks
@using VC.Public.Models.Auth
@model ResetPasswordModel

@section Meta {
	<title>Vital Choice | Affiliate Reset Password</title>
}

<div class="working-area-holder">
	@using (Html.BeginForm("ResetPassword", "AffiliateAccount", null, FormMethod.Post, new { @class = "form-regular medium-small", role = "form" }))
	{
		@Html.HiddenFor(m => m.Token)
		@Html.AntiForgeryToken()
		<h4>Reset Password</h4>
		<span class="form-control-important-info">Must be at least 8 characters long, contain at least 1 numerical digit, 1 capital character and 1 special character.<br />Example: Dontuse!#1</span>
		@Html.ValidationSummary(true, "")
		<div class="form-group">
			@Html.LabelFor(m => m.Email, new { @class = "control-label" })
			<div class="input-group">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Email, "")
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Password, new {@class = "control-label"})
			<div class="input-group">
				@Html.PasswordFor(m => m.Password, new {@class = "form-control"})
				@Html.ValidationMessageFor(m => m.Password, "")
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
			<div class="input-group">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword, "")
			</div>
		</div>
		<div class="form-buttons-group">
			<input type="submit" value="Reset Password"/>
		</div>
	}
	<div class="form-group">
		<hr />
	</div>
</div>